Question :1

In [1]:
import numpy as np

In [2]:
#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]#
#Sort the list and find the min and max age#

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #sorting the ages using sort function#
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [3]:
#Add the min age and the max age again to the list#

ages.append(min(ages)) #Adding min ages to the ages#
ages.append(max(ages)) #Adding man ages to the ages#
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [4]:
#Find the median age (one middle item or two middle items divided by two)#

np.median(ages) #Using median function to find the middle item#

24.0

In [5]:
#Find the average age (sum of all items divided by their number)#

np.average(ages) #Using average function to find the average age#

22.75

In [7]:
#Find the range of the ages (max minus min)

range_ages = range(min(ages),max(ages)) #range of ages form min to max
range_ages

range(19, 26)

Question :2

In [13]:
#Create an empty dictionary called dog#
#Add name, color, breed, legs, age to the dog dictionary#

dog = {
'name' : 'peter',
'color' : 'black',
'breed' : 'Bernedoddle',
'legs' : 'four',
'age' : '17 weeks'
}#adding name, color, breed, legs, age keys to empty dictionary dog#
dog

{'name': 'peter',
 'color': 'black',
 'breed': 'Bernedoddle',
 'legs': 'four',
 'age': '17 weeks'}

In [14]:
#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, 
#country, city and address as keys for the dictionary#
student = {
'first_name' : 'Yaswanth',
'last_name' : 'Inuganti',
'gender' : 'Male',
'age' : 23,
'marital_status' : 'single',
'skills' : ['Positive attitude'],
'city' : 'Kansas',
'address' : 'Floyd Dr'
} #adding first_name, last_name, gender, age, marital status,skills, country, city and address as keys for student dictionary#
student

{'first_name': 'Yaswanth',
 'last_name': 'Inuganti',
 'gender': 'Male',
 'age': 23,
 'marital_status': 'single',
 'skills': ['Positive attitude'],
 'city': 'Kansas',
 'address': 'Floyd Dr'}

In [15]:
#Get the length of the student dictionary#

len(student)#Using len fuction to find length of dictionary#

8

In [16]:
#Get the value of skills and check the data type, it should be a list#

print(student['skills'])#printing the value of skills key from dictionary student# 
print(type(student['skills']))#printing the type of skills key from dictionary student#

['Positive attitude']
<class 'list'>

In [17]:
#Modify the skills values by adding one or two skills#

student['skills'].append('multi-tasking')#Using append function to add one more value to key skills# 
student

{'first_name': 'Yaswanth',
 'last_name': 'Inuganti',
 'gender': 'Male',
 'age': 23,
 'marital_status': 'single',
 'skills': ['Positive attitude', 'multi-tasking'],
 'city': 'Kansas',
 'address': 'Floyd Dr'}

In [18]:
#Get the dictionary keys as a list#

student.keys()#Get the keys as list using .keys#

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'city', 'address'])

In [20]:
#Get the dictionary values as a list#

student.values()#Get the values as list using .values#

dict_values(['Yaswanth', 'Inuganti', 'Male', 23, 'single', ['Positive attitude', 'multi-tasking'], 'Kansas', 'Floyd Dr'])

Question :3

In [1]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)#

S1 = ('john','johnson','trump','biedon')#tuple s1 containings names of siblings#
S1

('john', 'johnson', 'trump', 'biedon')

In [4]:
#Join brothers and sisters tuples and assign it to siblings#

brothers = ('john','johnson')#tuple brothers containing john and johnson#
sisters = ('trump','biedon') #tuple sisters containing trump and biedon#
siblings = sisters + brothers#joining the two tuples(sisters and brothers) into new tuple(siblings)# 
siblings

('trump', 'biedon', 'john', 'johnson')

In [5]:
#How many siblings do you have?#

len(siblings)#Using len function to find length of tuple siblings#

4

In [6]:
 #Modify the siblings tuple and add the name of your father and mother and assign it to family_members#
    
father = 'modi'
mother = 'indira gandi'
family_members = siblings + (father,mother)#adding the parents names and siblings to family_members #
family_members

('trump', 'biedon', 'john', 'johnson', 'paul', 'jenny')

Question :4

In [14]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [15]:
#Find the length of the set it_companies#

len(it_companies)#Using len fuction to find length#

7

In [17]:
#Add 'Twitter' to it_companies#

it_companies.add('Twitter')#adding the value twitter to list#
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [18]:
#Insert multiple IT companies at once to the set it_companies#

it_companies.update(['Wipro','Infosis'])#Using update fuction to add multiple values to it_companies#
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosis',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Wipro'}

In [19]:
#Remove one of the companies from the set it_companies#

it_companies.remove('Wipro')#Using remove fuction to remove a value from it_companies#
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosis',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
#What is the difference between remove and discard#

Using remove will throw exception while discard doesnt throw exception

In [20]:
#Join A and B

A.union(B)#Union fuction is used to join

{19, 20, 22, 24, 25, 26, 27, 28}

In [21]:
#Find A intersection B

A.intersection(B)#intersection fuction is used to find common values

{19, 20, 22, 24, 25, 26}

In [22]:
#Is A subset of B

A.issubset(B)#issubset is a boolean function it returns true or false

True

In [37]:
#Are A and B disjoint sets


A.isdisjoint(B)#isdisjoint is a boolean function it returns true or false

False

In [38]:
#Join A with B and B with A

A.union(B) and B.union(A)#using operation fuction 'and' and union fuction to join to to functions

{19, 20, 22, 24, 25, 26, 27, 28}

In [39]:
#What is the symmetric difference between A and B

A.symmetric_difference(B)#function symmetric_difference is used to get elements that are not in intersection

{27, 28}

In [40]:
#Delete the sets completely

del A #function del is used to completly delete the set
del B

In [23]:
#Convert the ages to a set 

set_ages = set(age)#converting list to set
set_ages

{19, 22, 24, 25, 26}

In [24]:
#compare the length of the list and the set

len(age),len(set_ages)#comparing length of set and list

(8, 5)

Question 5:

In [25]:
#• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

radius = 30
_area_of_circle_ = 3.14*radius**2     #area=pi*r^2
_area_of_circle_

2826.0

In [26]:
#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_


_circum_of_circle_ = 2*3.14*radius   #circumference=2*pi*r
_circum_of_circle_

188.4

In [27]:
#Take radius as user input and calculate the area

r = float(input("Enter the radius of circle = ")) #radius as input
area = 3.14*r**2
print('area of circle is : {}'.format(area))

Enter the radius of circle = 10
area of circle is : 314.0

Question 6:

In [28]:
#How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

s = "I am a teacher and I love to inspire and teach people"
s1 = s.split(' ')#spliting the scentence into words
set_s1=set(s1)
set_s1
len(set_s1) #count of words in scentence

10

Question 7:

In [30]:
print('Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinlan\t\tHelsinki')

Name		Age	Country		City
Asabeneh	250	Finlan		Helsinki

Question 8:

In [50]:
#Use the string formatting method

radius=10
area=3.14*radius**2 #area formula in string formate
print('The area of circle with radius',radius,'is',area,'meter square')

The area of circle with radius 10 is 314.0 meter square

Question 9:

In [32]:
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)


lst = []
weight = []
no_of_students = int(input("Enter no of students: "))
print('\nEnter student weights in lbs:')
for i in range(0, no_of_students):
    lst.append(int(input()))

for i in range(0, no_of_students):
    weight.append(round(0.453592 * lst[i], 2))

print(weight)

Enter no of students: 4

Enter student weights in lbs:
150
155
145
148
[68.04, 70.31, 65.77, 67.13]